/* source key position labels */
#include "zmk-helpers/key-labels/totem.h"

// #define X_LH  &kp LANG1  // thumb row, left
// #define X_RH  SMART_NUM  // thumb row, right
#define X_LM  &kp ESC
#define X_RM  &kp GRAVE

/* activate bluetooth */
#define CONFIG_WIRELESS 1

/* source the main keymap */
#include "base.keymap"