/* source key position labels */
#include "zmk-helpers/key-labels/totem.h"

// #define X_LH  &kp LANG1  // thumb row, left
// #define X_RH  SMART_NUM  // thumb row, right

#define X_LT  &kp A
#define X_LM  &kp B
#define X_LB  &kp C
#define X_LH  &kp D

#define X_RT  &kp E
#define X_RM  &kp F
#define X_RB  &kp G
#define X_RH  &kp H


/* activate bluetooth */
#define CONFIG_WIRELESS 1

/* source the main keymap */
#include "base.keymap"